---
http_interactions:
- request:
    method: get
    uri: http://api.eventfinda.co.nz/v2/categories.json?rows=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bXlidWRnZXRhcHA6OG0zeGozZHpicmMy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 07 Jan 2017 23:02:26 GMT
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":145},"categories":[{"id":246,"name":"All Events","url_slug":"whatson","parent_id":null,"count_current_events":4882}]}'
  recorded_at: Sat, 07 Jan 2017 23:01:17 GMT
recorded_with: VCR 3.0.3
