---
http_interactions:
- request:
    method: get
    uri: http://api.eventfinda.co.nz/v2/events.json?rows=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bXlidWRnZXRhcHA6OG0zeGozZHpicmMy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 07 Jan 2017 23:02:27 GMT
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":4875},"events":[{"id":390907,"url":"http:\/\/www.eventfinda.co.nz\/2017\/southern-nationals-including-mike-pero-new-zealand-grand-prix\/christchurch","url_slug":"2017\/southern-nationals-including-mike-pero-new-zealand-grand-prix\/christchurch","name":"Southern
        Nationals ","presented_by":"","description":"The first event in the four events
        NZ Motorcycle Road Race Series for 2017. The event features a range of exciting
        action across the amazing Superbikes, Superstock 1000, Supersport, Superlite,
        Sidecars, Pro Twins, 125 ...","datetime_start":"2017-01-07 09:00:00","datetime_end":"2017-01-08
        17:00:00","location_summary":"Mike Pero Motorsport Park, Christchurch","address":"107
        Hasketts Road, Templeton, Christchurch","is_free":false,"is_featured":true,"is_cancelled":false,"restrictions":"All
        Ages","point":{"lat":-43.5326,"lng":172.4854},"username":"robertc72","timezone":"Pacific\/Auckland","location":{"id":17277,"name":"Mike
        Pero Motorsport Park","summary":"Mike Pero Motorsport Park, Christchurch","url_slug":"mike-pero-motorsport-park-christchurch-city","is_venue":true,"count_current_events":6,"description":"","images":{"@attributes":{"count":1},"images":[{"id":null,"is_primary":true,"transforms":{"@attributes":{"count":5},"transforms":[{"transformation_id":2,"url":"http:\/\/cdn.eventfinda.co.nz\/images\/global\/iconVenue-2.png","width":80,"height":80},{"transformation_id":15,"url":"http:\/\/cdn.eventfinda.co.nz\/images\/global\/iconVenue-15.png","width":75,"height":75},{"transformation_id":8,"url":"http:\/\/cdn.eventfinda.co.nz\/images\/global\/iconVenue-8.png","width":190,"height":127},{"transformation_id":27,"url":"http:\/\/cdn.eventfinda.co.nz\/images\/global\/iconVenue-27.png","width":350,"height":350},{"transformation_id":7,"url":"http:\/\/cdn.eventfinda.co.nz\/images\/global\/iconVenue-7.png","width":650,"height":280}]}}]},"point":{"lat":-43.5326,"lng":172.4854}},"category":{"id":46,"name":"Motorsport","url_slug":"sports-outdoors-motorsport","parent_id":7,"count_current_events":84},"datetime_summary":"Sun  8
        Jan","sessions":{"@attributes":{"count":2},"sessions":[{"id":1547895,"timezone":"Pacific\/Auckland","datetime_start":"2017-01-07
        09:00:00","datetime_end":"2017-01-07 17:00:00","is_cancelled":false,"is_ticketed":true,"is_currently_onsale":false,"is_for_tickets_only":false,"ticketing_label":null,"offsale_at":null,"event_summary":"Southern
        Nationals ","session_tickets":{"@attributes":{"count":6},"session_tickets":[{"id":1324851,"name":"Very
        Early Bird Adult Day Pass","price":"10.00","is_ticketed":true,"description":"","minimum_purchase_quantity":1,"is_addon":false,"onsale_at":null,"offsale_at":"2016-11-30
        09:00:00","is_sold_out":false,"is_limited_remaining":false},{"id":1324853,"name":"Very
        Early Bird Child Day Pass","price":"1.00","is_ticketed":true,"description":"","minimum_purchase_quantity":1,"is_addon":false,"onsale_at":null,"offsale_at":"2016-11-30
        09:00:00","is_sold_out":false,"is_limited_remaining":false},{"id":1285170,"name":"Early
        Bird Adult Day Pass","price":"15.00","is_ticketed":true,"description":"","minimum_purchase_quantity":1,"is_addon":false,"onsale_at":"2016-11-30
        09:00:00","offsale_at":"2017-01-01 [...]
