---
http_interactions:
- request:
    method: get
    uri: http://api.eventfinda.co.nz/v2/locations.json?rows=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bXlidWRnZXRhcHA6OG0zeGozZHpicmMy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 07 Jan 2017 23:02:28 GMT
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":21754},"locations":[{"id":574,"name":"New Zealand","summary":"New
        Zealand, New Zealand","url_slug":"new-zealand","is_venue":false,"count_current_events":4882}]}'
  recorded_at: Sat, 07 Jan 2017 23:01:20 GMT
recorded_with: VCR 3.0.3
